*{
    margin: 0;
    padding: 0;
}

body{
    font-family: monospace;
    background: #fff;
    margin: 15px;
}

#container{
    background: #8df29f;
    margin:0 auto;
    min-width: 740px;
    max-width: 1181px;
}

#topo {
    position: relative;
    background: #8dadf2;
    height: 15.4em;
    min-height: 200px;
    
}

#area-logo {
	position: absolute;
    background: #171aa1 no-repeat;
    width: 100%;
    
    height: 250px;
    top: 0;
    left: 0;
    z-index: 1;
	
}

.logo a {
    position: absolute;
    top: 15px;
    left: 15px;
    
    z-index: 3;
    background: #51a64e no-repeat;
    color: #fff;
	width: 200px;
    height: 66px;
    text-align: center;
    line-height: 48px;
}

#area-menu {
    
	position: absolute;
    top: 15px;
    left: 70%;
    right: 5em;
	background: #ff9959 no-repeat;
	width: 250px;
    height: 250px;

    
	z-index: 2;
}

#conteudo-menu {
	margin-left: 25px;
	margin-right: 15px;
    padding-top: 15px;
    
}

a{
    text-decoration: none;
}

ul {
	list-style: none;
}

#menu {
	margin-top: 15px;
}

ul#navegacao {
	float: left;
}

ul#navegacao a {
	text-transform: uppercase;
	font-size: 0.8em;
	padding: 5px;
	color: #fff;
	line-height: 30px;
}

ul#navegacao a:hover {
	background: #000;
}